

.container.banner {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 300px; 
}

.banner-img {
  width: 100%;
  height:100%; 
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.banner-img.active {
  opacity: 1;
  z-index: 1;
}


